.snackbar {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: var(--md-sys-color-inverse-surface);
    color: var(--md-sys-color-inverse-on-surface);
    border-radius: var(--md-sys-shape-corner-extra-small);
    box-shadow: var(--md-sys-elevation-level-3);
    z-index: 10000;
    position: absolute;
    bottom: 20px;
    left: 20px;
    height: 48px;
    padding-left: 16px;
    padding-right: 8px;
    min-width: 240px;

    animation-duration: 0.25s;
    animation-fill-mode: both;
}