.layout-default {
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content minmax(0, 1fr);
    column-gap: 16px;
}

.layout-default-content {
    position: relative;
    border-radius: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.layout-default-header {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: 32px min-content;
    padding: 16px 0 16px 0;
    background-color: transparent;
}