@import url(animation.css);
@import url(button.css);
@import url(calendar.css);
@import url(card.css);
@import url(extensions.css);
@import url(extensions.light.css); /* (prefers-color-scheme: light);*/
/*@import url(extensions.dark.css) (prefers-color-scheme: dark);*/
@import url(general.css);
@import url(icon.css);
@import url(layout.css);
@import url(menu.css);
@import url(navigation.css);
@import url(popup.css);
@import url(scroll.css);
@import url(searchbar.css);
@import url(shorthand-general.css);
@import url(shorthand-material.css);
@import url(snackbar.css);
@import url(switch.css);
@import url(table.css);
@import url(text-field.css);
@import url(tooltip.css);