.border-primary {
    border: 1px solid var(--md-sys-color-primary);
}

.border-outline {
    border: 1px solid var(--md-sys-color-outline-variant);
}

.border-top-outline {
    border-top: 1px solid var(--md-sys-color-outline-variant);
}

.elevation-level-1 {
    box-shadow: var(--md-sys-elevation-level-1);
}

.elevation-level-2 {
    box-shadow: var(--md-sys-elevation-level-2);
}

.elevation-level-3 {
    box-shadow: var(--md-sys-elevation-level-3);
}

.shape-corner-large {
    border-right: var(--md-sys-shape-corner-large);
}

.state-layer-opacity-hover {
    opacity: 8%;
}

.state-layer-opacity-focus {
    opacity: 12%;
}

.state-layer-opacity-press {
    opacity: 12%;
}

.state-layer-opacity-drag {
    opacity: 16%;
}